<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="true"
      internalLogLevel="Off" 
      internalLogFile="C:\temp\nlog-internal.log">

  <variable name="service" value="ModelExecutionFunc"/>
  <extensions>
    <add assembly="Logzio.DotNet.NLog" />
  </extensions>
  <variable name="haha" value="woot" />
  <targets>
    <target 
        name="logzio" 
        xsi:type="Logzio" 
        token="QuIPlayfEKCBdJTQYqzXBuzSrpcxobsJ"
			  listenerUrl ="https://listener.logz.io:8071"
			  debug="true" 
        bufferSize="10"
        bufferTimeout="00:00:05"
			  retriesMaxAttempts="3"
			  retriesInterval="00:00:02">
          <contextproperty name="solution" layout="ModelExecutionFunc" />
          <contextproperty name="host" layout="${machinename}" />
          <contextproperty name="threadid" layout="${threadid}"/>
    </target>
    <target
      name="localFile"
      xsi:type="File"
      fileName="ModelExecutionFunc.log"
      layout="${longdate} ${logger} ${message}${exception:format=ToString}"
      keepFileOpen="true"
      encoding="utf-8"
      maxArchiveFiles="4"
      archiveAboveSize="100000"
      archiveEvery="Day"
      /> 
  </targets>
  <rules>
    <logger name="*" minlevel="Info" writeTo="logzio" />
  </rules>
</nlog>